<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>The Inventory App</title>

</head>

<body>
	<div class="container text-center">
		<div>
			<h1>Welcome to the Inventory App</h1>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/categories}">List Categories</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/categories/new}">Create Categories</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/products}">List Products</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/products/new}">Create Products</a>
		</div>
		
		
	</div>
	


</body>
</html>