<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Products Page</title>

</head>

<body>
	<div class="container text-center">
		<div>
			<h1>Products List</h1>
		</div>
		<table class="table table-bordered">
			<thead class="thead-dark">
				<th>ID</th>
				<th>Name</th>
				<th>Price</th>
				<th>Category</th>
			</thead>>
			<tbody>
				<th:block th:each="product : ${listProducts}">
					<tr>	
						<td>[[${product.id}]]</td>
						<td>[[${product.name}]]</td>
						<td>[[${product.price}]]</td>
						<td>[[${product.category.name}]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
		
		
	</div>
	


</body>
</html>